<div class="head">
  <div class="head-bar">
    <div class="head-bar-controls">
      <span class="control icon-close"></span>
      <span class="control icon-mini"></span>
      <span class="control icon-expand"></span>
    </div>
    <div class="head-bar-scale">
      <span class="control icon-max"></span>
    </div>
  </div>
  <div class="head-content clearfix">
    <div class="head-logo"></div>
    <div class="head-navi"></div>
    <div class="head-search">
      <span class="icon-search"></span>
      <input type="text" placeholder="搜索音乐、歌手、歌词、用户">
    </div>

    <div class="head-user">
      <img class="head-user-avatar" src="../../../assets/imgs/default_avatar.jpg" alt="">
      <i class="icon-expand"></i>

      <!--用户详细信息-->
      <div class="head-user-detail">
        <div class="detail-profile">
          <img src="../../../assets/imgs/default_avatar.jpg" alt="">
          <span class="hide-one">远哥碉堡了</span>
        </div>
        <div class="detail-follows clearfix">
          <div class="detail-follows-item">
            <p><b>0</b></p>
            <p>动态</p>
          </div>
          <div class="detail-follows-item">
            <p><b>9</b></p>
            <p>关注</p>
          </div>
          <div class="detail-follows-item">
            <p><b>11</b></p>
            <p>粉丝</p>
          </div>
        </div>
        <div class="detail-list">
          <div class="detail-list-item">
            <i class="user-icon icon-vip detail-left-icon"></i>
            <span>会员中心</span>
            <span class="detail-tip">未订购</span>
            <i class="user-icon icon-right-arrow"></i>
          </div>
          <div class="detail-list-item">
            <i class="user-icon icon-config detail-left-icon"></i>
            <span>个人信息设置</span>
            <i class="user-icon icon-right-arrow"></i>
          </div>
          <div class="detail-list-item">
            <i class="user-icon icon-phone detail-left-icon"></i>
            <span>绑定社交账号</span>
            <i class="user-icon icon-right-arrow"></i>
          </div>
          <div class="detail-list-item">
            <i class="user-icon icon-logout detail-left-icon"></i>
            <span>退出登录</span>
            <i class="user-icon icon-right-arrow"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="head-tools">
      <span class="msg-number">1</span>
      <span class="icon-msg"></span>
      <span class="icon-setting"></span>
    </div>
  </div>
</div>