<div class="head">
  <div class="head-bar">
    <div class="head-bar-controls">
      <span class="control icon-close"></span>
      <span class="control icon-mini"></span>
      <span class="control icon-expand"></span>
    </div>
    <div class="head-bar-scale">
      <span class="control icon-max"></span>
    </div>
  </div>
  <div class="head-content clearfix">
    <div class="head-logo"></div>
    <div class="head-navi"></div>
    <div class="head-search">
      <span class="icon-search"></span>
      <input type="text" placeholder="搜索音乐、歌手、歌词、用户">
    </div>

    <div class="head-user">
      <img class="head-user-avatar" src="../../../assets/imgs/default_avatar.jpg" alt="">
      <i class="icon-expand"></i>

      <!--用户详细信息-->
      <div class="head-user-detail">

      </div>
    </div>

    <div class="head-tools">
      <span class="msg-number">1</span>
      <span class="icon-msg"></span>
      <span class="icon-setting"></span>
    </div>
  </div>
</div>