<div class="head">
  <div class="head-bar">
    <div class="head-bar-controls">
      <span class="topbar-icon icon-close"></span>
      <span class="topbar-icon icon-mini"></span>
      <span class="topbar-icon icon-expand"></span>
    </div>
    <div class="head-bar-scale">
      <span class="topbar-icon icon-scale"></span>
    </div>
  </div>
  <div class="head-content clearfix">
    <a class="topbar-icon icon-logo" routerLink="/"></a>
    <div class="head-navi">
      <i class="topbar-icon icon-prev"></i>
      <i class="topbar-icon icon-next"></i>
    </div>
    <div class="head-search">
      <span class="topbar-icon icon-search"></span>
      <input type="text" placeholder="搜索音乐、歌手、歌词、用户">
    </div>

    <div class="head-user">
      <div class="head-user-inner" (click)="userDetailVisible=!userDetailVisible">
        <img class="head-user-avatar" [src]="detail?.profile?.avatarUrl" alt="">
        <i class="topbar-icon icon-dropdown"></i>
      </div>

      <!--用户详细信息-->
      <div *ngIf="userDetailVisible" class="head-user-detail">
        <div class="detail-profile">
          <img [src]="detail?.profile?.avatarUrl" alt="">
          <!--<img src="../../../assets/imgs/default_avatar.jpg" alt="">-->
          <span class="hide-one" [title]="detail?.profile?.nickname">{{detail?.profile?.nickname}}</span>
        </div>
        <div class="detail-follows clearfix">
          <div class="detail-follows-item">
            <p><b>{{detail?.profile?.eventCount}}</b></p>
            <p>动态</p>
          </div>
          <div class="detail-follows-item">
            <p><b>{{detail?.profile?.follows}}</b></p>
            <p>关注</p>
          </div>
          <div class="detail-follows-item">
            <p><b>{{detail?.profile?.followeds}}</b></p>
            <p>粉丝</p>
          </div>
        </div>
        <div class="detail-list">
          <div class="detail-list-item">
            <i class="user-icon icon-vip detail-left-icon"></i>
            <span>会员中心</span>
            <span class="detail-tip">未订购</span>
            <i class="user-icon icon-right-arrow"></i>
          </div>
          <div class="detail-list-item">
            <i class="user-icon icon-config detail-left-icon"></i>
            <span>个人信息设置</span>
            <i class="user-icon icon-right-arrow"></i>
          </div>
          <div class="detail-list-item">
            <i class="user-icon icon-phone detail-left-icon"></i>
            <span>绑定社交账号</span>
            <i class="user-icon icon-right-arrow"></i>
          </div>
          <div class="detail-list-item">
            <i class="user-icon icon-logout detail-left-icon"></i>
            <span>退出登录</span>
            <i class="user-icon icon-right-arrow"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="head-tools">
      <span class="msg-number">1</span>
      <span class="topbar-icon icon-msg"></span>
      <a routerLink="/setting">
        <span class="topbar-icon icon-setting"></span>
      </a>
    </div>
  </div>
</div>