.side-icon {
  display: inline-block;
  background: url('assets/imgs/sidebar.png');
  background-size: 260px 24px;
  &.icon-music {
    width: 15px;
    height: 14px;
    background-position: -111px -4px;
  }

  &.icon-fm {
    width: 15px;
    height: 13px;
    background-position: -224px -4px;
  }

  &.icon-mv {
    width: 16px;
    height: 14px;
    background-position: -69px -3px;
  }

  &.icon-friends {
    width: 16px;
    height: 14px;
    background-position: -129px -3px;
  }

  &.icon-itunes {
    width: 18px;
    height: 18px;
    background-position: -147px -2px;
  }

  &.icon-download {
    width: 16px;
    height: 15px;
    background-position: -166px -3px;
  }

  &.icon-radio {
    width: 16px;
    height: 17px;
    background-position: -184px -2px;
  }

  &.icon-like {
    width: 16px;
    height: 14px;
    background-position: -91px -4px;
  }

  &.icon-list {
    width: 16px;
    height: 14px;
    background-position: -204px -4px;
  }

  &.icon-add {
    width: 18px;
    height: 18px;
    background-position: -24px -3px;
  }

  &.icon-right-arrow {
    width: 7px;
    height: 10px;
    background-position: -6px -7px;
  }
}

.btmbar-icon {
  display: inline-block;
  background: url('assets/imgs/btmbar.png') no-repeat -110px -110px;
  background-size: 112px 772px;
  &.icon-like {
    width: 16px;
    height: 15px;
    background-position: 0 -556px;
    &:hover {
      background-position: -22px -556px;
    }
  }

  &.icon-liked {
    width: 16px;
    height: 15px;
    background-position: -44px -556px;
  }

  &.icon-delete {
    width: 13px;
    height: 15px;
    background-position: -21px -530px;
    &:hover {
      background-position: -21px -490px;
    }
  }

  &.icon-img-hover {
    width: 59px;
    height: 59px;
    background-position: -23px -625px;
  }

  &.icon-pause {
    width: 10px;
    height: 14px;
    background-position: -13px -11px;
  }
}