<div class="rank">
  <div class="rank-menu">
    <div class="rank-menu-item active">
      官方榜
    </div>
    <div class="rank-menu-item">
      全球榜
    </div>
  </div>

  <div class="rank-body">
    <app-loading [visible]="loading" type="content"></app-loading>
    <div class="rank-content row">
      <div class="col-sm-4">
        <div class="netease-panel">
          <div class="netease-panel-head rank-rise">

          </div>
          <div class="netease-panel-body">
            <div class="netease-panel-body-item">111</div>
          </div>
          <div class="netease-panel-foot">
            <a href="">查看全部</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="netease-panel">
          <div class="netease-panel-head rank-new">

          </div>
          <div class="netease-panel-body">
            <div class="netease-panel-body-item">111</div>
          </div>
          <div class="netease-panel-foot">
            <a href="">查看全部</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="netease-panel">
          <div class="netease-panel-head rank-original">

          </div>
          <div class="netease-panel-body">
            <div class="netease-panel-body-item">111</div>
          </div>
          <div class="netease-panel-foot">
            <a href="">查看全部</a>
          </div>
        </div>
      </div>
    </div>

    <div class="rank-content row">
      <div class="col-sm-4">
        <div class="netease-panel">
          <div class="netease-panel-head rank-hot">

          </div>
          <div class="netease-panel-body">
            <div class="netease-panel-body-item">111</div>
          </div>
          <div class="netease-panel-foot">
            <a href="">查看全部</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="netease-panel">
          <div class="netease-panel-head rank-elec">

          </div>
          <div class="netease-panel-body">
            <div class="netease-panel-body-item">111</div>
          </div>
          <div class="netease-panel-foot">
            <a href="">查看全部</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>