/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  background: #fff;
  font-size: Helvetica, sans-serif;
}

* { 
  margin: 0;
  right: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.hide-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}