<div class="foot clearfix">
  <div class="foot-controls">
    <div class="control-prev" title="上一首">
      <i class="btmbar-icon icon-prev"></i>
    </div>
    <!--<div  class="control-play" title="播放">-->
    <!--<i class="btmbar-icon icon-play"></i>-->
    <!--</div>-->
    <div class="control-pause" title="暂停">
      <i class="btmbar-icon icon-pause"></i>
    </div>
    <div class="control-next" title="下一首">
      <i class="btmbar-icon icon-next"></i>
    </div>

  </div>
  <div class="foot-progress">
    <div class="progress">
      <span class="progress-dot">
        <i class="progress-dot-ready"></i>
        <!--<i class="btmbar-icon icon-loading"></i>-->
      </span>
      <span class="progress-line full"></span>
      <span style="width: 20%;" class="progress-line active"></span>
    </div>
  </div>
  <div class="foot-setting clearfix">
    <div class="setting-time">00:00/04:29</div>
    <div class="setting-volume clearfix">
      <!-- <i class="btmbar-icon icon-volume-on" title="静音"></i> -->
      <i class="btmbar-icon icon-volume-off" title="恢复声音"></i>
      <div class="volume">
        <span class="volume-dot"></span>
        <span class="volume-line full"></span>
        <span style="width: 20%;" class="volume-line active"></span>
      </div>
    </div>

    <div class="setting-other">
      <!-- <i class="btmbar-icon icon-loop" title="列表循环"></i> -->
      <!-- <i class="btmbar-icon icon-random" title="随机播放"></i> -->
      <i class="btmbar-icon icon-single" title="单曲循环"></i>
      <!-- <i class="btmbar-icon icon-lyric-on" title="打开歌词"></i> -->
      <i class="btmbar-icon icon-lyric-off" title="关闭歌词"></i>
      <i class="btmbar-icon icon-play-list" title="打开播放列表"></i>
      <i class="setting-list-number">50</i>
    </div>
  </div>
</div>