<div class="foot clearfix">
  <div class="foot-controls">
    <div class="control-prev">
      <i class="btmbar-icon icon-prev"></i>
    </div>
    <!--<div class="control-play">-->
    <!--<i class="btmbar-icon icon-play"></i>-->
    <!--</div>-->
    <div class="control-pause">
      <i class="btmbar-icon icon-pause"></i>
    </div>
    <div class="control-next">
      <i class="btmbar-icon icon-next"></i>
    </div>

  </div>
  <div class="foot-progress">
    <div class="progress">
      <span class="progress-dot">
        <i class="progress-dot-ready"></i>
        <!--<i class="btmbar-icon icon-loading"></i>-->
      </span>
      <span class="progress-line full"></span>
      <span style="width: 20%;" class="progress-line active"></span>
    </div>
  </div>
  <div class="foot-setting clearfix">
    <div class="setting-time">00:00/04:29</div>
    <div class="setting-volume clearfix">
      <i class="btmbar-icon icon-volume-on"></i>
      <div class="volume">
        <span class="volume-dot"></span>
        <span class="volume-line full"></span>
        <span style="width: 20%;" class="volume-line active"></span>
      </div>
    </div>

    <div class="setting-other">
      <i class="btmbar-icon icon-loop"></i>
      <i class="btmbar-icon icon-lyric"></i>
      <i class="btmbar-icon icon-play-list"></i>
      <i class="setting-list-number">50</i>
    </div>
  </div>
</div>